@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    min-width: 92vw;
    max-width: 92vw;
  }
  .horisontal-line {
    margin: 3% 0 9%;    
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .horisontal-line {
    margin: 3% 0 12%;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .wrapper {
    min-width: 94vw;
    max-width: 94vw;
    border-radius: 12px;
  }

}

@media only screen and (max-width: 560px) {
}

@media only screen and (max-width: 500px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 460px) {
}

@media only screen and (max-width: 430px) {
}

@media only screen and (max-width: 410px) {
}

@media only screen and (max-width: 375px) {
  .wrapper {
    min-width: 96vw;
    max-width: 96vw;
    padding: 0;
    margin: 0 auto;
    border-radius: 0;
    box-shadow: unset;
  }
}

/* Custom, iPhone Retina */
/* @media only screen and (max-width: 320px) {} */
